*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons{
    display: flex; 
    gap: 15px;
    align-items: flex-start;   
    margin: 10px 10px;
    font-size: 15px;
    font-weight: bold;
}

.buttons input {
    border: 2px solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
}

.buttons .buttonId {
    border: 2px solid;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
}

.product_block{
    background-color: aquamarine;
    border: 5px solid rgb(26, 255, 179);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;    
}

.product_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 22px;
    padding: 20px 0;   
}

.product_card img{
    border: 2px solid;
    border-radius: 20px;
    width: 40%;
    margin: 10px 0;
    
    
        
}