*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product_block{
    background-color: aquamarine;
    border: 2px solid rgb(26, 255, 179);
    border-radius: 2px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 22px;
    padding-bottom: 40px;
   
}

.product_card img{
    border: 1px solid;
    transform: scale(0.31);
    border-radius: 20px;
        
}