.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    .search-box {
        padding: 12px 24px;
        width: 600px;
        border-radius: 25px;

    }
}